*
{
    margin: 0;
    padding: 0;
}
header
{
    padding: 15px 0;
    background-color: whitesmoke;
}
.header-content
{
    display: flex;
    flex-direction: row;
    border: 0px solid green;
    justify-content: center;
    font-family:'Josefin Sans', sans-serif;
    align-items: center;
    width: 20%;
    font-size: large;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}
.Employee
{
    color: #82a70c;
}
